@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans&display=swap");
* { margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }

html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-transition: border-box; box-sizing: border-box; overflow-x: hidden; }

body { -webkit-text-size-adjust: 100%; }

html, body, div, span, iframe, h1, h2, h3, h4, p, blockquote, a, big, code, img, ins, s, var, b, i, ul, li, form, label, table, tbody, tr, th, td, article, aside, details, embed, figure, figcaption, footer, header, menu, nav, section, time { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: 0 0; }

h1 { font-size: 2em; }

b { font-weight: bold !important; }

code { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

button, input, select, textarea { font-family: inherit; /* 1 */ font-size: 100%; /* 1 */ line-height: 1.15; /* 1 */ }

button, input { /* 1 */ overflow: visible; -webkit-transition: all .2s ease-in-out 0s; transition: all .2s ease-in-out 0s; }

button, select { /* 1 */ text-transform: none; }

input, select { vertical-align: middle; }

input:focus { outline: 0; }

textarea { overflow: auto; }

table { border-spacing: 0; border-collapse: collapse; table-layout: fixed; }

button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

[type="checkbox"], [type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

[type="search"] { -webkit-appearance: textfield; /* 1 */ outline-offset: -2px; /* 2 */ }

[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

::-webkit-file-upload-button { -webkit-appearance: button; /* 1 */ font: inherit; /* 2 */ }

 [hidden], .hidden { display: none; }

blockquote { quotes: none; }

blockquote:after, blockquote:before { content: ""; content: none; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section { display: block; }

img { vertical-align: top; border-style: none; line-height: 0; font-size: 0; -ms-interpolation-mode: bicubic; background: 0 0; zoom: 1; }

 ul { list-style: none; }

a { background-color: transparent; text-decoration: none; font-size: 100%; vertical-align: baseline; text-decoration: none; background: 0 0; }

a:focus { outline: 0; }

a img { opacity: 1; -webkit-transition: ease-out 0.3s; transition: ease-out 0.3s; }

a img:hover { opacity: 0.7; -webkit-transition: ease-out 0.3s; transition: ease-out 0.3s; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

a, button, input { -webkit-transition: all .3s ease-in-out 0s; transition: all .3s ease-in-out 0s; }

/*====================================================================================
■01.MARGIN DEFAULT
====================================================================================*/

.mr10 { margin-right: 10px !important; }

.ml10 { margin-left: 10px !important; }

/*====================================================================================
■PADDING DEFAULT
====================================================================================*/

/*====================================================================================
■WIDTH DEFAULT
====================================================================================*/

/*====================================================================================
■MARGIN% DEFAULT
====================================================================================*/

.text_center { text-align: center !important; }

.text_bold { font-weight: bold !important; }

.lh00 { line-height: 0 !important; }

@keyframes fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes fadeInDown { 0% { opacity: 0;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }
  100% { opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fadeInLeft { 0% { opacity: 0;
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px); }
  100% { opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fadeInRight { 0% { opacity: 0;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px); }
  100% { opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fadeInUp { 0% { opacity: 0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px); }
  100% { opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slideInDown { 0% { opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px); }
  100% { opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slideInLeft { 0% { opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px); }
  100% { opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@keyframes slideInRight { 0% { opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px); }
  100% { opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@keyframes slideInUp { 0% { opacity: 0;
    -webkit-transform: translateY(200px);
    -ms-transform: translateY(200px);
    transform: translateY(200px); }
  100% { opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

.fixie body { overflow: visible; }

.fixie .custom-object-fit { position: relative; background-position: center center; background-repeat: no-repeat; }

.fixie .custom-object-fit img { opacity: 0; }

.fixie .custom-object-fit { background-size: cover; }

@keyframes gonoloader { 0% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes wave { 0%, 40%, 100% { -webkit-transform: translate(0, 0); transform: translate(0, 0);
    background-color: #eee; }
  10% { -webkit-transform: translate(0, -15px); transform: translate(0, -15px);
    background-color: #000; } }

.header_top .container { max-width: 1366px; }

.header_top_logo { position: relative; z-index: 1; -webkit-box-flex: 0; -webkit-flex: 0 0 35%; -ms-flex: 0 0 35%; flex: 0 0 35%; }

.header_top_logo a { line-height: 0; }

.header_nav { position: relative; z-index: 98; width: 100%; margin: 20px 0; }

.header_nav .header_nav_inside { min-width: inherit; }

.header .top_nav { position: relative; }

.nav-list-item a { font-size: 16px; line-height: 1; color: #313131; text-decoration: none; display: block; text-align: center; padding: 0 30px; font-family: 'Noto Sans', sans-serif; font-weight: bold; }

@media all and (min-width: 769px) { .nav-list-item a { padding: 15px 10px; } }

.nav-list-item a span { color: #999; display: block; font-size: 13px; font-weight: 500; margin-top: 7px; }

@media all and (min-width: 769px) { .nav-list-item a:hover { opacity: 0.8; } }

.navstate_show .nav .js-navheader .js-dropdown { visibility: hidden; position: absolute; left: 0; z-index: 9999; -webkit-transition: all 0.27s ease-in-out; transition: all 0.27s ease-in-out; -webkit-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0; width: 100%; background: #fff; -webkit-transform: rotateX(-90deg); transform: rotateX(-90deg); }

.navstate_show .nav .js-navheader .is-act .js-dropdown { opacity: 1; visibility: visible; opacity: 1; -webkit-transform: rotateX(0deg); transform: rotateX(0deg); }

.footer { background: #5d5d5d; }

.footer * { color: #fff; }

.footer .backtop { width: 100%; max-width: 100%; position: fixed; z-index: 8; bottom: 22px; right: 0; }

.footer .backtop-icon { cursor: pointer; display: block; position: absolute; bottom: 0; right: 25px; zoom: 1; text-align: right; z-index: 8; }

.footer .backtop-icon img { width: 50px; }

button { border: none; outline: none; cursor: pointer; }

 h1, h2, h3 { font-family: 'Fjalla One', sans-serif; font-weight: normal; }

body { font-size: 16px; font-weight: 500; color: #ffffff; font-family: 'Noto Sans', sans-serif; }

body p { font-size: 16px; line-height: 2; font-family: 'Noto Sans', sans-serif; color: #ffffff; }

body a { color: #ffffff; line-height: normal; }

body img, body iframe { max-width: 100%; line-height: 0; }

body .img { overflow: hidden; line-height: 0; }

body .img img { -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); -webkit-transition-duration: 4s; transition-duration: 4s; -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); -webkit-transition-property: -webkit-transform; transition-property: transform, -webkit-transform; }

.flexbox { display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

@media all and (min-width: 769px) and (max-width: 1100px) { html { overflow-x: scroll; } }

body { overflow-x: hidden; }

.container { max-width: 1100px; margin: 0 auto; width: 100%; }

@media all and (max-width: 768px) { .container { padding: 0 3%; } }

.container-large { max-width: 1300px; margin: 0 auto; }

.homepage { background: url("../images/bg4.jpg") center center; background-size: contain; }

header .container { position: relative; }

header .container .header_top { position: absolute; z-index: 1; }

.header_top .container { max-width: 1200px; }

.header_top { width: 300px; min-height: 478px; background: #ffffff; padding: 55px 0 0; box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.56); }

.header_top .header_top_logo { text-align: center; margin-bottom: 30px; }

.header_top .header_top_logo a { display: inline-block; }

.login-box { -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }

.login-box .btn-login a { display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; width: 25px; height: 25px; border-radius: 50%; border: 1px solid #ffffff; }

.login-box .btn-login a i { font-size: 13px; }

.login-box .btn-search { margin-right: 10px; position: relative; }

.login-box .btn-search i { position: absolute; top: 0; bottom: 0; margin: auto 0; left: 10px; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.login-box .btn-search input { background: none; min-width: 200px; border: 1px solid #ffffff; border-radius: 20px; padding: 5px 10px 5px 30px; color: #ffffff; }

.btn { position: relative; }

.btn a, .btn input, .btn button { text-align: center; height: 40px; padding: 10px 20px; min-width: 180px; border: 1px solid #ffffff; border-radius: 20px; display: inline-block; position: relative; overflow: hidden; }

.btn a span, .btn input span, .btn button span { font-family: 'Fjalla One', sans-serif; letter-spacing: 2px; font-size: 16px; position: relative; }

.btn a::before, .btn input::before, .btn button::before { position: absolute; content: ""; width: 0%; height: 100%; background: #bbd196; border: 1px solid #bbd196; top: 0; bottom: 0; left: -2px; margin: auto 0; -webkit-transition: 0.5s ease-in-out; transition: 0.5s ease-in-out; }

@media all and (min-width: 769px) { .btn a:hover, .btn input:hover, .btn button:hover { border: none; }
  .btn a:hover::before, .btn input:hover::before, .btn button:hover::before { width: 100%; height: 100%; -webkit-transition: 0.5s ease-in-out; transition: 0.5s ease-in-out; }
  .btn a:hover span, .btn input:hover span, .btn button:hover span { color: #141518; } }

.btn-green a, .btn-green input, .btn-green button { background: #bbd196; border: 1px solid #bbd196; }

.btn-green a span, .btn-green input span, .btn-green button span { color: #141518; }

.btn-green a::before, .btn-green input::before, .btn-green button::before { position: absolute; content: ""; width: 0%; height: 100%; background: #fff; border: 1px solid #fff; top: 0; bottom: 0; left: -2px; margin: auto 0; -webkit-transition: 0.5s ease-in-out; transition: 0.5s ease-in-out; }

@media all and (min-width: 769px) { .btn-green a:hover::before, .btn-green input:hover::before, .btn-green button:hover::before { width: 100%; height: 100%; -webkit-transition: 0.5s ease-in-out; transition: 0.5s ease-in-out; } }

.tit-style1 { text-align: center; margin-bottom: 20px; }

.tit-style1 img, .tit-style1 span { display: block; }

.tit-style1 img { margin: 0 auto 10px; }

.tit-style1 span { font-size: 36px; }

.tit-style2 { text-align: center; font-size: 50px; font-family: 'Fjalla One', sans-serif; position: relative; letter-spacing: 2px; margin: 30px 0 90px; }

.tit-style2::before, .tit-style2::after { position: absolute; content: ""; background: url("../common_img/line.png") no-repeat center center; width: 212px; height: 16px; background-size: contain; left: 0; right: 0; top: 0; margin: -30px auto 0; }

.tit-style2::after { bottom: 0; top: auto; margin-bottom: -30px; }

.block3--ins { width: calc(33.33% - 33.33333px); width: -ms-calc(33.33% - 33.33333px); width: -o-calc(33.33% - 33.33333px); margin-right: 50px; float: left; }

.block3--ins:nth-child(3n) { margin-right: 0; }

.footer { background: none; }

.footer .container { padding: 70px 0 10px; }

@media all and (min-width: 769px) { .nav-list-item a:hover { color: #4a6915; background: #eee; } }
